streamlit #frontend library
# Utilities
numpy # faster and more oprn
pandas # tabular operations

# face recognition
scikit-learn #svm(classification and regression)
dlib-bin #img identification
git+https://github.com/ageitgey/face_recognition_models
setuptools>=77,<81


supabase
bcrypt #hashing methods



segno #qr
pillow # img preprocessing


librosa #audio processing
resemblyzer #voice cloning